$google_font_url: 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500&display=swap';

$base_font: 'Work Sans', sans-serif;

$background_color_light: #f8e6e6;
$background_color_dark: #232330;

$colors: (
  'red': #d23b42,
  'yellow': #e7b318,
  'orange': #d66828,
  'green': #2a6a42,
  'blue': #315498,
  'purple': #803f86,
);

$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$card_width: 360px;
$card_height: 420px;
